bleak>=0.22.0
websockets>=12.0
Pillow>=10.0.0
pyobjc-framework-Cocoa>=10.0; sys_platform == 'darwin'
PyQt6>=6.5.0; sys_platform != 'darwin'
pystray>=0.19.5; sys_platform != 'darwin'
pyinstaller>=6.0.0
